body {
    min-width: 620px;
    max-width: 1728px;
}

.container {

}

.main {
}

.menu {
    background-color: #efe6d6;
    max-width: 80%;
    border-bottom: 1px solid lightgray;
}


.header {
    position: relative;
    background-color: #2c2c2d;
    height: 80px;
    position: sticky;  
    top: -1px;  
    z-index: 100; 
    opacity: 95%;
    transition: width 0.3s ease; 
    
}

.number {
    position: absolute;
    left: 132px;
}

.small-number {
    font-size: 16px;
    position: absolute;
    left: 132px;
    top: 20px;
    color: gray;
}

@media (max-width: 1728px) {
    .login-button-two {
        visibility: hidden;
    }

    .small-number {
        visibility: hidden;
    }
}



@media (max-width: 1710px) {
    .eleven {
        display: none;
    }



    
}

@media (max-width: 1683px) {
    .ten {
        display: none;
    }

    .divider {
        width: 1170px;
    }

    
}

@media (max-width: 1628px) {
    .nine {
        display: none;
    }

    .divider {
        width: 1125px;
    }
    
}

@media (max-width: 1570px) {
    .eight {
        display: none;
    }

    .divider {
        width: 1075px;
    }
    
}

@media (max-width: 1515px) {
    .seven {
        display: none;
    }

    .divider {
        width: 1035px;
    }

}



@media (max-width: 1467px) {

    .six {
        display: none;
    }
    .divider {
        width: 990px;
    }

    
}

@media (max-width: 1399px) {
    .five {
        display: none;
    }

    .divider {
        width: 950px;
    }
    
}

@media (max-width: 1355px) {
    .four {
        display: none;
    }

    .divider {
        width: 900px;
    }

    
}

@media (max-width: 1310px) {
    .three {
        display: none;
    }

    .divider {
        width: 855px;
    }
    
}

@media (max-width: 1283px) {
    .delivery {
        visibility: hidden;
    }

}

@media (max-width: 1281px) {
    .two {
        display: none;
    }

    .divider {
        width: 815px;
    }

    
}

@media (max-width: 1235px) {
    .one {
        display: none;
    }

    .divider {
        width: 772px;
    }
    
}

@media (max-width: 1192px) {
    .delivery {
        display: none;
    }

    .twelve {
        display: none;
    }

    .divider {
        width: 730px;
    }

}

@media (max-width: 1152px) {
    

    .thirteen {
        display: none;
    }

    .divider {
        width: 690px;
    }

}

@media (max-width: 1112px) {
    

    .fourteen {
        display: none;
    }

    .divider {
        width: 650px;
    }

}

@media (max-width: 1072px) {
    

    .fiveteen {
        display: none;
    }

    .divider {
        width: 605px;
    }

}

@media (max-width: 1032px) {
    

    .sixteen {
        display: none;
    }

    .divider {
        width: 560px;
    }

}

@media (max-width: 992px) {
    

    .seventeen {
        display: none;
    }

    .divider {
        width: 520px;
    }

}


@media (max-width: 952px) {
    

    .eighteen {
        display: none;
    }

    .divider {
        width: 475px;
    }

    .small {
        display: none;
    }

}

@media (max-width: 912px) {
    

    .nineteen {
        display: none;
    }

    .divider {
        width: 430px;
    }

}

@media (max-width: 872px) {
    

    .twenty {
        display: none;
    }

    .divider {
        width: 390px;
    }

}

@media (max-width: 825px) {
    

    .twenty-one {
        display: none;
    }

    .divider {
        width: 345px;
    }

}

@media (max-width: 785px) {
    

    .twenty-two {
        display: none;
    }

    .divider {
        width: 300px;
    }

}

@media (max-width: 752px) {
    

    .login-button-two {
        visibility: visible;
    }

    .login-button {
        visibility: hidden;
    }

    .divider {
        width: 300px;
    }

    .medium {
        display: none;
    }

    

}

@media (max-width: 742px) {

    .divider {
        width: 280px;
    }

    

}

@media (max-width: 720px) {

    .divider {
        width: 260px;
    }

    

}


@media (max-width: 700px) {

    .divider {
        width: 240px;
    }

    

}

@media (max-width: 680px) {

    .divider {
        width: 220px;
    }

    

}

@media (max-width: 660px) {

    .divider {
        width: 200px;
    } 

}


@media (max-width: 640px) {

    .divider {
        width: 180px;
    }

}

@media (max-width: 620px) {

    .divider {
        width: 160px;
    }

    .number {
        display: none;
    }

    .small-number {
        visibility: visible;
    }

}

@media (max-width: 600px) {

    .divider {
        width: 140px;
    }

    

}

@media (max-width: 580px) {

    .divider {
        width: 130px;
    }  

}

@media (max-width: 578px) {

    .divider {
        width: 115px;
    }  

}


@media (max-width: 1715px) {
    .text-first {
        display: none;
    }
}

@media (max-width: 1602px) {
    .text {
        display: none;
    }

    
}


.spacer {
    margin-inline: 20px;
}

.eleven {
    margin-inline: 9px;
}

.bottom-badge {
    z-index: 100;
    position: fixed;
    bottom: 0;
    left: 10px;
}

.rectangle-bottom {
    background: #E48716;
    height: 110px;
    position: relative;
    text-align: center;
    padding: 10px;
    width: 78px;
    border: 1px solid #9C4A1A;
}
.discount-title {
    font-size: 20px;
    font-weight: bold;
    color: white;
}

.discount-icon {
    position: absolute;
    top: -11px;
    left: -1px
}

.discount {
    font-size: 20px;
    font-weight: bold;
    color: white;
}

.dotted {
    border-top: 1px dotted white;
}

.rectangle {
    width: 98px;
    height: 80px;
    position: relative;
    background: #E48716;
    position: relative;
    text-align: center;
    border: 1px solid #9C4A1A;
    border-bottom: 0;
}

.pizza-kma {
    font-size: 26px;
    color: white;
    font-weight: bold;
}

.header-badge {
    z-index: 101;
    position: absolute;
    top: 0;
    left: 10px;
}

.kma-icon {
    transform: rotate(180deg);
    position: absolute;
    top: 100;
    left: 0;
}

/*.container {
  width: 30%;
  height: auto;
  box-shadow: 0 0 4px #131824;
}*/

.header-text-box {
/*    display: flex;*/
    align-items: flex-start;
    flex-wrap: wrap;
/*    justify-content: space-between;*/
    position: relative;
    background-color: #2c2c2d;
    padding-inline: 2%;
    padding-left: 10%;
    position: sticky;  
    top: 0;  
    z-index: 99; 
    opacity: 95%;
    transition: width 0.3s ease; 
    max-width: 100%;
}

.header-text {
/*    padding-left: 20px;*/
/*    padding-right: 30px;*/
/*    margin: 0;*/
    font-size: 26px;
    color: gray;
}

.small {
    font-size: 16px;
    position: absolute;
    left: 350px;
    top: 10px;
}

.medium {
    position: absolute;
    font-size: 20px;
/*    padding: 5px;*/
    color: white;
/*    padding-left: 10px;*/
    padding-bottom: 20px;
    top: 50px;
    left: 132px;
}

.delivery {
    padding-inline: 10px;
    position: absolute;
    left: 620px;
}

.login-button {
/*    align-self: end;*/
/*    margin-left: auto;*/
    margin-top: 4px;
    height: 30px;
    background: orange;
    border-radius: 3px;
    border: 1px solid #DA6A00;
    padding: 5px;
    color: white;
    font-weight: bold;
    top: 14px;
    transition: width 0.3s ease; 
/*    position: absolute;*/
/*    margin-right: 0;*/
/*    justify-content: flex-end;*/
}

.login-button-two {
/*    display: none;*/
/*    visibility: hidden;*/
    position: absolute;
    height: 30px;
    background: orange;
    border-radius: 3px;
    border: 1px solid #DA6A00;
    color: white;
    font-weight: bold;
    top: 48px;
    left: 132px;
    transition: width 0.3s ease; 
}

.divider {
    max-width: 89%;
    margin-left: 130px;
    transition: width 0.3s ease; 
}

.main-title {
    text-align: center;
    padding: 20px;
    margin-top: 70px;

    display: flex;
    align-items: center;
    justify-content: center;
}

@media (max-width: 950px) {
    .main-title {
        padding-right: 50px;
    }
}

@media (max-width: 690px) {
    .main-title {
        padding-right: 100px;
    }
}

@media (max-width: 613px) {
    .main-title {
        padding-right: 190px;
    }
}

.main-title-text {
    font-weight: bold;
    padding: 10px;
    font-size: 30px;
}

.main-title-amount {
    font-size: 16px;
    font-weight: bold;
    padding-top: 3px;
    padding-bottom: 3px;
    padding-inline: 10px;
    border-radius: 20px;
    background: orange;
}

.menu-sections {
            text-align: center;
            padding: 10px;
            padding-bottom: 40px;
            min-width: 200px;
            display: flex;
            justify-content: center;
            flex-wrap: wrap;
            padding-right: 150px;
            padding-left: 150px;
        }

        .type-button {
            border: none;
            background: none;
            cursor: pointer;
            margin: 5px;
            padding: 14px;
            padding-top: 12px;
            padding-bottom: 12px;
            color: orange;
            font-size: 12px;
            min-width: 50px;
        }

@media (max-width: 732px) {
    .menu-sections {
        padding-left: 0px;
        padding-right: 200px;
    }
}        

.selected {
    color: white;
    background: orange;
    border-radius: 5px;
}

.pizza-list {
    margin-left: auto;
    margin-right: auto;
    max-width: 890px;
    min-width: 400px;
}

.pizza-card {
    margin-left: 20px;
    display: inline-block;
    width: 30%;
    background: white;
    border: 1px solid gray;
    border-radius: 3px;
    margin-bottom: 20px;
    position: relative;
    width: 269px;
}

.image {
    display: block;
    width: 100%;
}

.caption {
    padding-inline: 10px;
    padding-top: 0px;
}

.pizza-name {
    color: #EC9704;
}

.second-title {
    color: lightgray;
    font-size: 14px;
    margin-right: 150px;
}

.description {
    font-size: 16px;
}

.size {
    margin-left: 31px;
}

.size-icon {
    width: 4%;
}

.first-size {
    margin-inline: 34px;
    margin-right: 37px;
}

.second-size {
    margin-left: 70px;
}

.second-line-first {
    margin-right: 67px;
}

.second-size-second {
    margin-left: 70px;
}


.price {
    margin-left: 36px;
    font: small-caps bold 24px/1 sans-serif;
}

.price-style {
    font: small-caps bold 24px/1 sans-serif;
}


.bbq {
    margin-left: 28px;
}

.second-price {
    margin-left: 106px;
}

.bbq-second {
    margin-left: 102px;
}

.currency {
    font-size: 16px;
    margin-inline: 38px;
}

.second-currency {
    margin-left: 76px;
}


.buy-button {
    padding: 5px;
    padding-inline: 8px;
    font-size: 14px;
    color: white;
    background: orange;
    border: 1px solid #DA6A00;
    border-radius: 3px;
    margin-inline: 16px;
}

.second-buy-button {
    margin-left: 60px;
/*        text-align: right;*/
}



.first-info-size {
    margin-left: 110px;
}

.second-info-size {
    margin-left: 106px;
}

.first-price {
    margin-left: 103px;
}

.first-currency {
    margin-left: 110px;
}

.first-button {
    margin-left: 89px;
}

.text-footer {
    display: flex;
    text-align: center;
    flex-wrap: wrap;
    min-width: 200px;
    justify-content: center;
}

.basket {
    height: 100%;
    width: 20.3%;
    background: white;
    position: fixed;
    right: 0;
    top: 0;
    border: 1px solid gray;
    box-shadow: 0px 5px 10px 0px rgba(0, 0, 0, 0.3);
    min-width: 300px;
    z-index: 100;
/*    opacity: 80%;*/

}

.basket-top {
    height: 5.2%;
    padding-inline: 15px;
    padding-top: 7%;
    font-size: 20px;
}

.basket-title {
    font-weight: bold;
}

.order-amount {
    font-size: 14px;
    color: white;
    font-weight: bold;
    background: orange;
    padding-top: 2px;
    padding-inline: 8px;
    border-radius: 12px;
}

.clear-order {
    font-size: 10px;
    color: lightgray;
    margin-left: 5px;
}

.order-list {
    background-color: #E7EAEF;
    padding-top: 1px;
    height: 78%;
/*    opacity: 80%;*/
}

.order-item {
    padding-inline: 20px;
    padding-top: 15px;
    position: relative;
}

.item-title {
    color: orange;
    font-weight: bold;
    font-size: 22px;
}

.item-size {
    font-size: 14px;
}

.second-item-size {
    margin-left: 30px;

}

.item-control-buttons {
    padding-top: 2px;
    padding-bottom: 8px;
}

.item-price {
    font-size: 16px;
    font-weight: bold;
}

.minus-button {
    font-size: 20px;
    font-weight: bold;
    color: white;
    background: red;
    padding-inline: 10px;
    border-radius: 16px;
    border: 1px solid darkred;
    margin-inline: 14px;

}

.item-amount {
    font-size: 16px;
    font-weight: bold;
}

.plus-button {
    font-size: 20px;
    font-weight: bold;
    color: white;
    background: green;
    padding-inline: 8px;
    border-radius: 16px;
    border: 1px solid darkgreen;
    margin-inline: 14px;
}

.delete-button {
    font-size: 20px;
    font-weight: bold;
    color: orange;
    background: lightgray;
    padding-inline: 9px;
    border-radius: 16px;
    border: 1px solid gray;
    margin-inline: 16px;
}

.item-image {
    display: block;
    width: 38.6%;
    z-index: 100;
    position: absolute;
    top: -1px;
    left: 270px;
}

.basket-line {
    color: lightgray;
}

.basket-order {
    border-top: 1px  solid gray;
    background: white;
    border-bottom: 1px  solid gray;
}

.order-title {
    padding-left: 15px;
    font-size: 16px;
    font-weight: bold;
}

.text {
    margin-right: 40px;
}

.text-first {
    margin-right: 40px;
}

.order-price {
    padding-left: 75px;
    font-weight: bold;
    font-size: 20px;
}

.order-buy-button {
    color: white;
    font-size: 30px;
    font-weight: bold;
    background: orange;
    padding-inline: 60px;
    border-radius: 5px;
    border: 1px solid #DA6A00;
    margin-left: 62px;
    margin-bottom: 28px;

}

.new-badge {
    font-size: 20px;
    color: white;
    font-weight: bold;
    background: orangered;
    border-radius: 5px;
    padding: 5px;
    padding-inline: 12px;
    z-index: 100px;
    position: absolute;
    top: -14px;
    left: 210px;
}

.popular-badge {
    font-size: 20px;
    color: white;
    font-weight: bold;
    background: seagreen;
    border-radius: 5px;
    padding: 5px;
    padding-inline: 12px;
    z-index: 100px;
    position: absolute;
    top: -14px;
    left: 160px;
}

.main-footer {
    width: 80%;
    flex-wrap: wrap;
    min-width: 200px;
}

.basket-icon {
    width: 3%;
}


